%flex-elemet-right {
  display: flex;
  margin-left: auto;
}

.flex_right {
  @extend %flex-elemet-right;
}

.course_statuses {
  display: block;
  + .OpenForAssigning {
    display: inline-block;
    color: green;
    &:after {
      content: "Открыт для записи";
    }
  }
  + .Started {
    display: inline-block;
    color: blue;
    &:after {
      content: "В процессе обучения";
    }
  }
  + .Created {
    display: inline-block;
    color: grey;
    &:after {
      content: "Создан";
    }
  }
  + .Finished {
    color: red;
    &:after {
      content: "Закрыт";
    }
  }
}

.course_details {
  font-size: 12px;
  h2 {
    margin-bottom: 0;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 25px;
  }
}

.flex_bottom {
  position: relative;
  p {
    position: absolute;
    bottom: 0;
    margin-bottom: 0;
  }
}

.notifications_table {
  width: 100%;
  tr {
    border-top: 1px solid #dddddd;
  }
}
