%flex-elemet-right {
  display: flex;
  margin-left: auto;
}

.flex_right {
  @extend %flex-elemet-right;
}

.course_statuses {
  display: block;
  margin-right: 10px;
  + .OpenForAssigning {
    display: flex;
    justify-content: space-between;
    width: 100%;
    b {
      margin-left: 0;
      color: green;
      &::before {
        content: "Открыт для записи";
      }
    }
  }
  + .Started {
    display: inline-block;
    color: blue;
    &:after {
      content: "В процессе обучения";
    }
  }
  + .Created {
    display: inline-block;
    color: grey;
    &:after {
      content: "Создан";
    }
  }
  + .Finished {
    color: red;
    &:after {
      content: "Закрыт";
    }
  }
}

.course_details {
  font-size: 20px;
  h2 {
    margin: 30px;
    margin-left: 10px;
    text-transform: uppercase;
  }
  .container {
    margin-top: 5px;
    border-radius: 10px;
    background-color: white;
    .card_grid {
      padding: 10px;
    }
  }
}


.flex_bottom {
  text-align: start;
  margin: 0;
  b {
    vertical-align: bottom;

    margin-left: 10px;
  }
}


.notifications_table {
  width: 100%;
  tr {
    border-top: 1px solid #dddddd;
  }
}
